@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italiana&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

body {
    font-family: "Roboto", sans-serif;
    background: #000;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Italiana", sans-serif;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.container {
    max-width: 1178px;
    margin: 0 auto;
    padding: 0 22px;
}

.container-fluid {
  padding: 0 22px;
  margin: 0 auto;
}

.slider-container .slick-slide {
    width: 300px;
    margin: 0 8px;
}

.slider-container .slick-slide h3,
.slider-container .slick-slide h4 {
        font-family: "Roboto", sans-serif;
}

@media (min-width:1024px) {
   
    .slider-container .slick-slide {
        margin: 0 40px;
        width: 382px;
    }

    .slider-container .slick-slide.slick-active.slick-current{
        width: 552px;
    }

    .slider-container .slick-slide.slick-active h3 {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0.429427px;
        color: #FFFFFF;
        opacity: 0.95;
    } 
    
    .slider-container .slick-slide.slick-active h4 {
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 23px;
        letter-spacing: 0.429427px;
        color: #C4996B;
    }
    
    .slider-container .slick-slide.slick-active ul li {
        font-weight: 400;
        font-size: 14px;
        line-height: 23px;
        letter-spacing: 0.429427px;
        color: #FFFFFF;
        opacity: 0.62;

    }

    .slider-container .slick-slide.slick-active img {
        width: 100%;
    }
}

.slick-arrow {
    z-index: 10px !important;
}

.slick-prev {
    left: 0 !important;
}

.slick-next {
  right: 0px !important;
}

/* .slick-slide {
    width: 300px;
    margin: 0 7px;
} */


/* .slick-slider.slider.variable-width  {
    margin: 0 -11px 0 0;
} */

